<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<title>Peg Solitaire</title>

<!-- Aqui se agregan los archivos CSS necesarios para darle estilo a la aplicación -->
<link rel="stylesheet" href="./assets/css/bootstrap.min.css">

<!-- Aqui se agregan las librerias necesatias o archivos javascripst necesarios para la aplicación -->
<script src="./assets/js/jquery-3.2.1.slim.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>

<!-- Este es el archivo script que contiene toda la logica del juego, este será compliado usando browserify -->
<script src="./assets/js/main.js"></script>    