<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>    

    <main>
       <div class="jumbotron text-center">
           <div class="container">
            <h2>Integrantes</h2>
            <p>A continuación se presenta la informacón de los participantes de la actividad</p>            
            <table class="table">
              <thead>
                <tr>
                  <th>Nombres</th>
                  <th>Usuario GIT</th>
                  <th>Correo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Néstor Eduardo Suat Rojas</td>
                  <td>solofruad</td>
                  <td>nsuat@unal.edu.co</td>
                </tr>
                <tr>
                  <td>Germán Camilo Rojas Riveros</td>
                  <td>German Camilo Rojas - LAPTOP-UQ4BPP73 </td>
                  <td>gerojas@unal.edu.co</td>
                </tr>
                <tr>
                  <td>Daniel Medina Zapata</td>
                  <td>daniing</td>
                  <td>dzapatam@unal.edu.co</td>
                </tr>
              </tbody>
            </table>
          </div>
     
    </main>
    <footer>
      <% include ../partials/footer %>  
    </footer>
    
    <script>
      
    </script>

  </body>
</html>